.grocery-product-index
  = form_tag admin_grocery_products_path, method: :get do
    .row
      .col-sm-3.col-sm-offset-1
        %h4 Product Name
      .col-sm-1
        %h4 Quantity
      .col-sm-1
        %h4 Unit
      .col-sm-2
        %h4 Associated Ingredient
    - @grocery_products.each do |product|
      .row
        .col-sm-3.col-sm-offset-1
          %p= product.name
        .col-sm-1
          %p= product.quantity
        .col-sm-1       
          %p= product.unit
        .col-sm-2
          - if product.ingredient
            %p
              = product.ingredient
              %a Delete
          - else
            .form-group
              = search_field_tag :name, params[:name], name: "name_#{product.id}", class: "form-control typeahead", id: "ingredient_search", :placeholder => "Search"
    .form-group
      = button_tag "Submit", type: "submit", class: "btn btn-primary", style: "display: none"
  - if params[:name]
    - @ingredients.each do |ingredient|
      .row
        .col-sm-3.col-sm-offset-1
          %p= ingredient.name
  .row
    .col-sm-5.col-sm-offset-1
      = paginate(@grocery_products)
= javascript_include_tag "ingredient"