.register 
  %h1 Create Your Account
  %h3 You're on your way to saving time and money on groceries
  %section.container
    = bootstrap_form_for @user, layout: :horizontal, label_col: "col-sm-4", control_col: "col-sm-6", html: { id: "payment-form" } do |f|
      .row
        .col-sm-4.col-sm-offset-1
          %img
        .col-sm-5
          %fieldset
            = f.email_field :email, label: "Email Address"
            = f.password_field :password, placeholder: "Must be at least 8 characters"
            = f.text_field :zip_code, label: "Zip Code"
      .row
        .select_plan 
          %h2 Select The Plan That Fits Your Needs
          %section.container.plans
            .row
              .col-sm-3.col-sm-offset-1
                %section{ class: plan_classes('bronze') }
                  %h3 Bronze
                  %h4 Free
                  %p Basic Meal Planning
                  %p Upgrade Anytime
                  = f.radio_button :plan, "bronze", checked: 'checked'
              .col-sm-3
                %section{ class: plan_classes('silver_monthly') }
                  %h3 Silver
                  %h4 $4.99/month
                  %p Intermediate Meal Planning
                  %p 14-day Free Trial
                  = f.radio_button :plan, "silver_monthly", checked: check_radio('silver_monthly')
              .col-sm-3
                %section{ class: plan_classes('gold_monthly') }
                  %h3 Gold
                  %h4 $9.99/month
                  %p Advanced Meal Planning
                  %p 14-day Free Trial
                  = f.radio_button :plan, "gold_monthly", checked: check_radio('gold_monthly')
            = f.submit "Sign Up", class: "btn btn-large col-sm-offset-5"
= javascript_include_tag 'sign_up'
            
  
  