%section#front-header.row
  %h1.col-md-2
    = link_to app_name, root_path
  %ul.col-md-4.clearfix
    %li= link_to "How it Works", ""
    %li= link_to "Pricing", ""
    %li= link_to "Blog", ""
  %ul.col-md-4.clearfix.pull-right
    - if !logged_in?
      %li= link_to "Login", login_path
      %li= link_to "Sign Up", register_path
    - else
      %li.dropdown
        %a(href="#" id="dlabel" role="button" data-toggle="dropdown" class="dropdown-toggle" data-target="#")
          My Account
          %b.caret
        %ul.dropdown-menu(role="menu" aria-labelledby="dlabel")
          %li
            %a(href="#") Change Plan
            %a(href="#") Settings
      %li= link_to "Logout", logout_path
        